{% extends "base.html" %}

{% block content %}
<h1><center>All Habits</center></h1>
<p><center><a href="{% url 'create_habit' %}">Start a Habit</a></center></p>

<div>
    {% for habit in habits %}
    <div>
        <h2><a id="link" href="{% url 'habit_detail' pk=habit.pk %}">{{ habit.name }}</a></h2>
        <p id="habit_info"> 
        {% if request.user.is_authenticated and request.user == habit.user %}
        <a id="link" href="{% url 'edit_habit' pk=habit.pk %}">Edit Habit</a><br>  
        <a id="link" href="{% url 'delete_habit' pk=habit.pk %}">Delete Habit</a><br>
        {% endif %}
        </p>
    </div>
    {% endfor %}
</div>
{% endblock %}